
html
{
	background-color: #1b1c18;

}
body
{
	padding:5px;
	border:5px;
	border-radius:3px;
	width:80%;
	margin-left:10%;
	background-color: #272822;
	color: #c6c6c6;
	font-family:"Consolas";
}

a
{
	color: #ae81ff;
	text-decoration:none;
}
a:hover
{
	text-decoration:underline;
}

p[name="imagecaption"]
{
	line-height:0px;
	margin:0px;
	width:233px;
	text-align:center;
}

input[type="text"]
{
	background-color:#272822;
	border: 3px solid #1b1c18;
	color: #c6c6c6;
}

div.header
{
	width:100%;
	background-color: #284142;
}
div.header img:hover
{
	background-image: url("images/header_hover.png");
}
div.inlineimage
{
	display:inline;
}

div.audioelement audio
{
	vertical-align:middle;
}

div.clickbutton
{
	background-color: #284142;
	border-bottom: 3px solid #183132;
	border-top: 0px;
	cursor: default;
	text-align: center;
}
div.clickbutton:active
{
	text-decoration:none !important;
	border-top: 3px solid #183132;
	border-bottom: 0px;
}
div.clickbutton-a
{
	height:100%;
	width:100%;
	text-align:center;
}
div.clickbutton a:hover
{
	text-decoration:none;
}
div.clickbutton img
{
	position:relative;
	top:20%;
}
div.clickbutton a
{
	vertical-align: middle;
}
div.clickbutton strong
{
	position:relative;
}
div.colorcell
{
	width:40px;
	height:25px;
	border: 1px solid #1b1c18;
	border-radius:2px;
}

div.footer
{
	text-align:center;
	font-size:11px;
}

div.colorswatchtable-expando
{
	overflow:hidden;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes expand
{
	0% {height:0px;}
	100% {height:672px;}
}
@-webkit-keyframes contract
{
	0% {height:672px;}
	100% {height:0px;}
}