div.header
{
	width:100%;
	background-color: #284142;
}
div.header img:hover
{
	background-image: url("../images/header_hover.png");
}

div.strangebox
{
	float:left;
	width:192px;
	padding:5px;
	margin:5px;
	background-color:#864420;
	border: 3px solid #CF6A32;
}

a
{
	color:#fff;
}

p
{
	padding:0;
	margin:0;
	border:0;
	text-align:center;
}

div.uniquebox
{
	float:left;
	width:192px;
	padding:5px;
	margin:5px;
	background-color:#A58B00;
	border: 3px solid #FFD700;
}